<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        h1 {
            text-align: center;
        }
        .user {
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        a {
            display: inline-block;
            margin-top: 10px;
            text-decoration: none;
            color: blue;
        }
        a:hover {
            text-decoration: underline;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        .users {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .users a {
            margin: 10px 22px;
        }
        .users h1 {
            margin-bottom: 20px;
        }
        .user h2 {
            margin: 0;
        }
        </style>
</head>
<body>
    <div class="users">
        <a href="/">Go home</a>
        <h1>Users</h1>
        <% users.forEach((user) => { %>
            <div class="user">
                <h2 > Name -<%= user.name %></h2>
                <h2>Email - <%= user.email %></h2>
                <h2>Password -  <%= user.password %></h2>
            </div>
            <a href="/delete?email=<%= user.email %>">Delete</a>
            <a href="/edit?email=<%= user.email %>">Edit</a>

        <% }) %>
        

    </div>
</body>
</html>
